<a href="https://colab.research.google.com/github/aayisha-muhammed/Datasceince/blob/main/basic_python_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the string "Hello, World!", extract and print the
substring "Hello".

In [1]:
string = "Hello, World!"
substring = string[:5]
print(substring)

Hello

2. Given the string "Python is fun", extract and print the
substring "is".

In [2]:
string = "Python is fun"
substring = string[7:9]
print(substring)

is

3. Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [3]:
string = "Programming"
substring = string[3:7]
print(substring)

gram

4. Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [4]:
string = "abcdefgh"
substring = string[::2]
print(substring)

aceg

5. Given the string "abcdefg", use negative indices to extract
and print the substring "efg"

In [5]:
string = "abcdefg"
substring = string[-3:]
print(substring)

efg

6. Given the string "Data Science", use negative indices to
extract and print the last three characters.

In [6]:
string = "Data Science"
substring = string[-3:]
print(substring)

nce

7. Given the string "abcdefghij", use slicing with a step to
print every second character.

In [7]:
string = "abcdefghij"
substring = string[::2]
print(substring)

acegi

8. Given the string "1234567890", use slicing with a step to
print the odd digits.

In [8]:
string = "1234567890"
substring = string[::2]
print(substring)

13579

9. Given the string "Hello", use slicing to print the string in
reverse order.

In [9]:
string = "Hello"
reversed_string = string[::-1]
print(reversed_string)

olleH

10. Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [10]:
string = "abcdefghijk"
substring = string[::2]
print(substring)

acegik

11. Write a program to find sum of all elements in a list of
integers.

In [11]:
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print(total_sum)

15

12. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [12]:
sentence = input("Enter a sentence: ")

length = len(sentence)
print(f"Length of the sentence: {length}")

first_half = sentence[:length // 2]
print(f"First half of the sentence: {first_half}")

Enter a sentence: give it to me
Length of the sentence: 13
First half of the sentence: give i

13. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [13]:
tupleA = (78, 45, 32, 19, 82, 77, 40, 39)

listA = list(tupleA)

listA[2] = 100

tupleA = tuple(listA)

print(f"Modified tuple: {tupleA}")
# Output: (78, 45, 100, 19, 82, 77, 40, 39)

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [15]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# (a) Delete the first occurrence of 32
listA.remove(32)

# (b) Delete all occurrences of 40
listA = [x for x in listA if x != 40]

# (c) Delete the value at index=5
del listA[5]

# (d) Modify the value at index=9 as 300
if len(listA) > 9:
    listA[9] = 300

# (e) Add 200 at index=2
listA.insert(2, 200)

# (f) Print the final list with its length, maximum value, and sum of all elements
print(f"Final list: {listA}")
print(f"Length: {len(listA)}")
print(f"Maximum value: {max(listA)}")
print(f"Sum of elements: {sum(listA)}")

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length: 10
Maximum value: 200
Sum of elements: 528

15. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [16]:
string = "The day has been long"

# (a) Delete the value at index=4
modified_string = string[:4] + string[5:]

# (b) Print the string 4 times in a single line with space between each repetition
print((modified_string + " ") * 4)

# (c) Print the string 3 times, each time on a new line
for _ in range(3):
    print(modified_string)

# (d) Modify the string at index 7 to 'A'
modified_string = modified_string[:7] + 'A' + modified_string[8:]

# (e) Print the string from index 4 to 15
substring = modified_string[4:16]
print(f"Substring (index 4 to 15): {substring}")

# (f) Print the final string with its length
print(f"Final string: {modified_string}")
print(f"Length of final string: {len(modified_string)}")

The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
Substring (index 4 to 15): ay Aas been
Final string: The ay Aas been long
Length of final string: 20