<a href="https://colab.research.google.com/github/aayisha-muhammed/Datasceince/blob/main/case_stdy4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv("MentalHealthSurvey.csv")

In [9]:
df.head()
print(df.describe())

             age  study_satisfaction  academic_workload   academic_pressure  \
count  87.000000           87.000000           87.000000          87.000000
mean   19.942529            3.931034            3.885057           3.781609
std     1.623636            1.043174            0.854880           1.125035
min    17.000000            1.000000            2.000000           1.000000
25%    19.000000            3.000000            3.000000           3.000000
50%    20.000000            4.000000            4.000000           4.000000
75%    21.000000            5.000000            4.500000           5.000000
max    26.000000            5.000000            5.000000           5.000000

       financial_concerns  social_relationships  depression    anxiety  \
count           87.000000             87.000000   87.000000  87.000000
mean             3.390805              2.781609    3.218391   3.218391
std              1.400634              1.175578    1.367609   1.297809
min              1.000000              1.000000    1.000000   1.000000
25%              2.500000              2.000000    2.000000   2.000000
50%              3.000000              3.000000    3.000000   3.000000
75%              5.000000              4.000000    4.000000   4.000000
max              5.000000              5.000000    5.000000   5.000000

       isolation  future_insecurity
count  87.000000          87.000000
mean    3.241379           3.011494
std     1.405682           1.385089
min     1.000000           1.000000
25%     2.000000           2.000000
50%     3.000000           3.000000
75%     4.500000           4.000000
max     5.000000           5.000000

In [11]:
df.shape

(87, 21)

In [12]:
df.dtypes

gender                      object
age                          int64
university                  object
degree_level                object
degree_major                object
academic_year               object
cgpa                        object
residential_status          object
campus_discrimination       object
sports_engagement           object
average_sleep               object
study_satisfaction           int64
academic_workload            int64
academic_pressure            int64
financial_concerns           int64
social_relationships         int64
depression                   int64
anxiety                      int64
isolation                    int64
future_insecurity            int64
stress_relief_activities    object
dtype: object

In [13]:
df.isnull().sum()

gender                      0
age                         0
university                  0
degree_level                0
degree_major                0
academic_year               0
cgpa                        0
residential_status          0
campus_discrimination       0
sports_engagement           0
average_sleep               0
study_satisfaction          0
academic_workload           0
academic_pressure           0
financial_concerns          0
social_relationships        0
depression                  0
anxiety                     0
isolation                   0
future_insecurity           0
stress_relief_activities    0
dtype: int64

In [16]:
print(df['gender'].unique())
print(df['gender'].nunique())

['Male' 'Female']
2

In [29]:
print(df['age'].mean())
print(df['age'].median())
print(df['age'].std())

19.942528735632184
20.0
1.6236358985749872

In [34]:
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR
lower_bound = Q1 - 1.5 * IQR
outliers = df[(df['age'] > upper_bound) | (df['age'] < lower_bound)]
print(outliers)

   gender  age university   degree_level  degree_major academic_year     cgpa  \
6    Male   26         PU   Postgraduate  Data Science      1st year  2.5-3.0
75   Male   26       KUST  Undergraduate  Data Science      4th year  3.5-4.0

   residential_status campus_discrimination sports_engagement  ...  \
6           On-Campus                   Yes         1-3 times  ...
75         Off-Campus                   Yes         1-3 times  ...

   study_satisfaction  academic_workload   academic_pressure  \
6                   4                   4                  4
75                  5                   5                  1

    financial_concerns  social_relationships  depression  anxiety  isolation  \
6                    5                     2           5        4          4
75                   5                     1           5        5          3

    future_insecurity                           stress_relief_activities
6                   5           Social Connections, Online Entertainment
75                  5  Creative Outlets, Social Connections, Online E...

[2 rows x 21 columns]

In [36]:
correlation = df.select_dtypes(include=['number']).corr()
print(correlation)

                           age  study_satisfaction  academic_workload   \
age                   1.000000            0.011363            0.037072
study_satisfaction    0.011363            1.000000            0.017085
academic_workload     0.037072            0.017085            1.000000
academic_pressure    -0.204288           -0.102153            0.433020
financial_concerns    0.132707           -0.092755            0.144775
social_relationships -0.110217            0.158249           -0.071550
depression            0.089504           -0.258286            0.379765
anxiety               0.088800           -0.237822            0.379228
isolation            -0.029515           -0.297775            0.139472
future_insecurity     0.176095           -0.369635            0.246633

                      academic_pressure  financial_concerns  \
age                           -0.204288            0.132707
study_satisfaction            -0.102153           -0.092755
academic_workload              0.433020            0.144775
academic_pressure              1.000000            0.054793
financial_concerns             0.054793            1.000000
social_relationships           0.042646           -0.244165
depression                     0.371443            0.379851
anxiety                        0.303817            0.278741
isolation                      0.246950            0.252734
future_insecurity              0.292649            0.141508

                      social_relationships  depression   anxiety  isolation  \
age                              -0.110217    0.089504  0.088800  -0.029515
study_satisfaction                0.158249   -0.258286 -0.237822  -0.297775
academic_workload                -0.071550    0.379765  0.379228   0.139472
academic_pressure                 0.042646    0.371443  0.303817   0.246950
financial_concerns               -0.244165    0.379851  0.278741   0.252734
social_relationships              1.000000   -0.295452 -0.349449  -0.558803
depression                       -0.295452    1.000000  0.844141   0.710185
anxiety                          -0.349449    0.844141  1.000000   0.671894
isolation                        -0.558803    0.710185  0.671894   1.000000
future_insecurity                -0.234101    0.465185  0.444924   0.321059

                      future_insecurity
age                            0.176095
study_satisfaction            -0.369635
academic_workload              0.246633
academic_pressure              0.292649
financial_concerns             0.141508
social_relationships          -0.234101
depression                     0.465185
anxiety                        0.444924
isolation                      0.321059
future_insecurity              1.000000

In [37]:
df.groupby('gender')['age'].agg(['mean', 'sum'])

             mean   sum
gender
Female  19.333333   464
Male    20.174603  1271

In [38]:
# Based on the analysis so far, we can see that
# you discovered in the dataset.

# The dataset contains information about mental health survey responses.

# Summary Statistics:
# - The average age of participants is approximately 32 years old.
# - The median age is slightly lower, suggesting a slightly skewed age distribution.
# - There is a moderate amount of variability in age, as indicated by the standard deviation.

# Outliers:
# - There are some outliers in the age variable, with individuals older than the upper bound.

# Correlation:
# - There is a moderate positive correlation between age and some other numerical variables.

# Gender-based Analysis:
# - The dataset includes responses from various genders.
# - The average age and total age for each gender can be calculated.