<a href="https://colab.research.google.com/github/aayisha-muhammed/Datasceince/blob/main/Copy_of_Case_study_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
house_data = pd.read_csv('House_Pricing.csv')

# Display the first few rows to understand the dataset
house_data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [ ]:
# Select numeric columns
numeric_columns = house_data.select_dtypes(include=[np.number]).columns

# Fill missing numerical values with the median
house_data[numeric_columns] = house_data[numeric_columns].apply(lambda x: x.fillna(x.median()))

# Check for remaining missing values
print(house_data.isnull().sum())

ID                                               0
Date House was Sold                              0
Sale Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [ ]:
# Convert the date column to datetime
house_data['Date House was Sold'] = pd.to_datetime(house_data['Date House was Sold'], errors='coerce')

# Check if conversion was successful
print(house_data['Date House was Sold'].head())

0   2017-10-14
1   2017-12-14
2   2016-02-15
3   2017-12-14
4   2016-02-15
Name: Date House was Sold, dtype: datetime64[ns]

In [ ]:
# Convert the date column to datetime
house_data['Date House was Sold'] = pd.to_datetime(house_data['Date House was Sold'], errors='coerce')

# Check if conversion was successful
print(house_data['Date House was Sold'].head())

0   2017-10-14
1   2017-12-14
2   2016-02-15
3   2017-12-14
4   2016-02-15
Name: Date House was Sold, dtype: datetime64[ns]

In [ ]:
# Calculate House Age from "Date House was Sold" and "Age of House (in Years)"
house_data['House Age'] = house_data['Date House was Sold'].dt.year - (2024 - house_data['Age of House (in Years)'])

# Display the newly created column
print(house_data['House Age'].head())

0    56
1    60
2    77
3    46
4    23
Name: House Age, dtype: int64

In [ ]:
# Drop unnecessary columns like 'ID' and the original date column
house_data.drop(['ID', 'Date House was Sold'], axis=1, inplace=True)

# Display the updated DataFrame
print(house_data.head())

   Sale Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0    221900.0               3             1.00               1180.0
1    538000.0               3             2.25               2570.0
2    180000.0               2             1.00                770.0
3    604000.0               4             3.00               1960.0
4    510000.0               3             2.00               1680.0

   Lot Area (in Sqft)  No of Floors Waterfront View No of Times Visited  \
0              5650.0           1.0              No                 NaN
1              7242.0           2.0              No                 NaN
2             10000.0           1.0              No                 NaN
3              5000.0           1.0              No                 NaN
4              8080.0           1.0              No                 NaN

  Condition of the House  Overall Grade  \
0                   Fair              7
1                   Fair              7
2                   Fair              6
3              Excellent              7
4                   Fair              8

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                     1180.0                        0
1                                     2170.0                      400
2                                      770.0                        0
3                                     1050.0                      910
4                                     1680.0                        0

   Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                       63               0  98178.0   47.5112   -122.257
1                       67            1991  98125.0   47.7210   -122.319
2                       85               0  98028.0   47.7379   -122.233
3                       53               0  98136.0   47.5208   -122.393
4                       31               0  98074.0   47.6168   -122.045

   Living Area after Renovation (in Sqft)  \
0                                  1340.0
1                                  1690.0
2                                  2720.0
3                                  1360.0
4                                  1800.0

   Lot Area after Renovation (in Sqft)  House Age
0                                 5650         56
1                                 7639         60
2                                 8062         77
3                                 5000         46
4                                 7503         23

In [ ]:
# Remove 'ID' from numeric_columns
numeric_columns = numeric_columns.drop('ID')

# Initialize the scaler
scaler = StandardScaler()

# Apply scaling to numeric columns
house_data[numeric_columns] = scaler.fit_transform(house_data[numeric_columns])

# Display the scaled DataFrame
print(house_data.head())

   Sale Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0   -0.866430       -0.398737        -1.447640            -0.979940
1   -0.005939       -0.398737         0.175628             0.533757
2   -0.980490       -1.473959        -1.447640            -1.426426
3    0.173727        0.676485         1.149589            -0.130528
4   -0.082161       -0.398737        -0.149026            -0.435445

   Lot Area (in Sqft)  No of Floors Waterfront View No of Times Visited  \
0           -0.228268     -0.915427              No                 NaN
1           -0.189832      0.936506              No                 NaN
2           -0.123244     -0.915427              No                 NaN
3           -0.243962     -0.915427              No                 NaN
4           -0.169600     -0.915427              No                 NaN

  Condition of the House  Overall Grade  \
0                   Fair      -0.564013
1                   Fair      -0.564013
2                   Fair      -1.468651
3              Excellent      -0.564013
4                   Fair       0.340626

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                  -0.734756                -0.658681
1                                   0.461025                 0.245141
2                                  -1.229979                -0.658681
3                                  -0.891778                 1.397515
4                                  -0.130826                -0.658681

   Age of House (in Years)  Renovated Year   Zipcode  Latitude  Longitude  \
0                 0.544898       -0.210128  1.870228 -0.352545  -0.306112
1                 0.681079        4.746678  0.879629  1.161615  -0.746380
2                 1.293892       -0.210128 -0.933352  1.283585  -0.135686
3                 0.204446       -0.210128  1.085225 -0.283260  -1.271861
4                -0.544548       -0.210128 -0.073588  0.409587   1.199321

   Living Area after Renovation (in Sqft)  \
0                               -0.943328
1                               -0.432658
2                                1.070173
3                               -0.914147
4                               -0.272161

   Lot Area after Renovation (in Sqft)  House Age
0                            -0.260715         56
1                            -0.187868         60
2                            -0.172375         77
3                            -0.284522         46
4                            -0.192849         23

In [ ]:
# Save the processed data to a new CSV file
house_data.to_csv('Processed_House_Pricing.csv', index=False)