<a href="https://colab.research.google.com/github/aayisha-muhammed/Datasceince/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
fred=20
john=fred
print("john")
print("fred")

john
fred

In [ ]:
 input()

hello

'hello'

In [ ]:
name= input()
print(name)

KeyboardInterrupt: Interrupted by user

In [ ]:
 name=input()
 print(name)

Aayisha
Aayisha

In [ ]:
name = int(input("Enter your age here:"))
print(name)

Enter your age here:22
22

# heading 1
**bold**
***bold***
- jeep
1. f
```
print("Hello world")
```
[google](http:\\www.google.com)

In [ ]:
x=10
y=10.55
z=1+2j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x=complex(1,2)
x

(1+2j)

In [ ]:
type(x)

complex

In [ ]:
var1=float(input("Enter your number:"))
var2=23.133

print(var1)
print(var2)

Enter your number:15
15.0
23.133

In [ ]:
name="Ally the alien"

name

'Ally the alien'

In [ ]:
greeting="Welcome to Earth!!!"

message=name + " ,  " + greeting
message

'Ally the alien ,  Welcome to Earth!!!'

In [ ]:
print("python")

python

In [ ]:
print("python"*3)

pythonpythonpython

In [ ]:
print("python\n"*3)

python
python
python

In [ ]:
forename=input("what is your name")
print("Hello",forename)

what is your namevinu
Hello vinu

In [ ]:
s="python"
print(s[0])
print(s[-3])
print(s[1])
print(len(s))

p
h
y
6

In [ ]:
s[-len(s)]

'p'

In [ ]:
s="python"
print(s[0:4])
print(s[:3])
print(s[-5:-2])
print(s[0:6:2])

pyth
pyt
yth
pto

In [ ]:
s="python"
print(s.capitalize())
print(s.capitalize())

Python
Python

In [ ]:
s.upper()

'PYTHON'

In [ ]:
s.lower()

'python'

In [ ]:
#boolean
x=True
y=False
print(type(x))
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
float("4.5")
int("25")
int(5.625)
float(6)
int(True)
float(False)
str(True)
bool(0)
bool("Hello world")
bool(223.5)

True

In [ ]:
2**3
#2 raise to 3

8

In [ ]:
10%3
#remainder

1

In [ ]:
10/3

3.3333333333333335

In [ ]:
10//3

3

In [ ]:
A=10
A+=5
A

15

In [ ]:
B=10
A+B

25

#LIST,TUPLES

In [ ]:
to_buy=["book","eraser","pen","sharpner"]
to_buy

['book', 'eraser', 'pen', 'sharpner']

In [ ]:
#updating the list
to_buy.append('scale')
to_buy

['book', 'eraser', 'pen', 'sharpner', 'scale']

In [ ]:
#removing an item
to_buy.remove('scale')
to_buy

['book', 'eraser', 'pen', 'sharpner']

In [ ]:
#inserting an item
to_insert='scale'
to_buy.insert(1,to_insert)
to_buy

['book', 'scale', 'eraser', 'pen', 'sharpner']

In [ ]:
to_buy.pop()

'sharpner'

In [ ]:
to_buy

['book', 'scale', 'eraser', 'pen']

In [ ]:
item=to_buy.pop()

In [ ]:
item

'pen'

In [ ]:
to_buy

['book', 'scale', 'eraser']

In [ ]:
items=('veg','fruits','groceries')
items

('veg', 'fruits', 'groceries')

In [ ]:
items.append('chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#defining a set
ab={1,1,1,1,'a','a','b'}
ab

{1, 'a', 'b'}

In [ ]:
#relation opertion
a=5
b=3

In [ ]:
a>b

True

In [ ]:
a<=b

False

In [ ]:
a>=b

True

In [ ]:
a==b

False

In [ ]:
a!=b

True

In [ ]:
a==5 and b<4

True

In [ ]:
a is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-58-80e6b7447efe>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 5

True

In [ ]:
a is not b

True

In [ ]:
  rate=int(input("enter the amout:"))
  is_emi_available =True
  if rate <=20000:
    print("I will buy the TV")
  elif is_emi_available:
    print("I will buy the TV")
  else:
    print("I will not buy the TV")

enter the amout:25000
I will buy the TV

In [ ]:
 rate=int(input("enter the amout:"))
 emi_amount=50000
if rate <=20000:
    print("I will buy the TV")
elif rate< emi_amount:
    print("I will buy the TV")
else:
    print("I will not buy the TV")

enter the amout:62000
I will not buy the TV

In [ ]:
current_temp=int(input("what is the temperature:"))
if current_temp < 20:
  print("I WILL NOT TAKE THE UMBRELLA")
else:
  print("I will take the umbrella")

what is the temperature:40
I will take the umbrella

In [ ]:
current_temp=int(input("what is the temperature:"))
if current_temp < 20:
  print("I WILL NOT TAKE THE UMBRELLA")
elif current_temp:
    print("i will not go out")
else:
  print("I will take the umbrella")

what is the temperature:40
i will not go out

In [ ]:
a= int(input("Number 1: "))
b= int(input("Number 2: "))
c= int(input("Number 3: "))
if a > b:
  if a < b:
    print("A is biggest")
elif b > c:
  if b > a:
      print("B is biggest")
else:
        print("C is biggest")

Number 1: 5
Number 2: 6
Number 3: 8
C is biggest

In [ ]:
a= int(input("Number 1: "))
b= int(input("Number 2: "))
c= int(input("Number 3: "))
if a > b and a < b:
    print("A is biggest")
elif b > c and b > a:
      print("B is biggest")
else:
        print("C is biggest")

Number 1: 5
Number 2: 6
Number 3: 8
C is biggest

In [ ]:
# odd even checker
num =int(input("number: "))
if num % 2==0:
  print("even")
else:
  print("odd")

number: 7
odd

#calculaor app

- accept two values from user
- accept a choice from user 1=add,2=subtract,3=mul,4=divide
- perform operation and show output

In [ ]:
a= int(input("number 1: "))
b= int(input("number 2: "))
print("\t 1.+ \n 2.- \n 3.* \n 4./")
choice= int(input("choice here"))

if choice == 1:
  print("result:", a + b)
elif choice == 2:
  print("result:", a - b )
elif choice == 3:
  print("result:", a * b)
elif choice == 4:
  print("result:", a / b)
else:
  print("wrong choice")

number 1: 45
number 2: 76
	 1.+
 2.-
 3.*
 4./
choice here1
result: 121

In [ ]:
print("frist line \n second line")

frist line
 second line

In [ ]:
print("frist line \n  second line")
print("\t space here")

frist line
  second line
	 space here

In [ ]:


a=int(input("enter number 1: "))
s=int(input("enter number 2: "))
e=int(input("enter number 3: "))
m=int(input("enter number 4: "))
b=int(input("enter number 5: "))
l=int(input("enter number 6: "))
y=int(input("enter number 7: "))

enter number 1: a

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
1211 a=1, s=2, e=1, m=1, b=1, l=1, y=1

SyntaxError: invalid syntax (<ipython-input-13-4c15591f08a4>, line 1)

#1. Write a Python program to accept a string value from the user and display the count of each character in that string. Sample input: Enter a string value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1#

In [ ]:
string = input("Enter a string value: ")
for char in string:
    count = string.count(char)
    print(f"{char} = {count}")

Enter a string value: aaysha
a = 3
a = 3
y = 1
s = 1
h = 1
a = 3

# 2. Write a Python function to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34 #

In [ ]:
list=[55,74,7]
print(max(list))

74

# 3. Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter thebase: 2 Enter the exponent: 3 Sample output: 8 #

In [ ]:
def exponent(base, exp):
  return base ** exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print(result)

Enter the base: 3
Enter the exponent: 2
9

# 4. Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.Sample input: 4 Sample output: 36.#

In [ ]:

def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i ** 3
  return sum

number = int(input("Enter a positive integer: "))
result = sum_of_cubes(number)
print(result)

Enter a positive integer: 45
980100

#5. Write a Python program which iterates from 1 to 10. For multiples of 2,print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.For numbers which are multiples of both 2 and 5, print “FizzBuzz”.Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz#

In [ ]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

#6. Write a Python program to find the most frequent item in a list of numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2#

In [ ]:


List = [2, 3, 4, 5, 8, 5, 2, 5]
print(most_frequent(List))

5

#7. Write a Python program to find the sum of squares of the numbers in a list. Sample input: 2,1,3,1 Sample output: 15#

In [ ]:
list=[1,3,5,7,9]
sum=0
for i in list:
  sum+=i**2

print(sum)

165

#8. Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-even …. 15-odd#

In [ ]:
for i in range(1,16):
  if i % 2 == 0:
    print(f"{i} - even")
  else:
    print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

#9. Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 Sample output: Temperature in Celsius =5#

In [ ]:
temp_fahrenheit = float(input("Temperature in Fahrenheit = "))
temp_celsius = (temp_fahrenheit - 32) * 5/9
print("Temperature in Celsius =", temp_celsius)

Temperature in Fahrenheit = 45
Temperature in Celsius = 7.222222222222222

# 10. Write a Python function to calculate the factorial of a number (a non negative integer). The function accepts the number as an argument. Sample input: 3 Sample output: 6#

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = int(input("Enter a non-negative integer: "))
result = factorial(number)
print(result)

Enter a non-negative integer: 24
620448401733239439360000

#1. Write a Python program which accepts the radius of a circle from the user and compute the area. Sample input: Enter the radius: 3 Sample output: Area of Circle is 28.59999999999#

In [ ]:
radius = float(input("Enter the radius: "))
area = 3.14 * radius ** 2
print("Area of Circle is", area)

Enter the radius: 5
Area of Circle is 78.5

#2. Write a Python Program to accept the details of a student like name, roll number and mark and display it. Sample input: Enter the name: Anisha       Enter the roll number: 21                                                  Enter the mark: 78                                                        Sample output: Name: Anisha                                                  Roll No: 21Mark: 78#

In [ ]:
name = input("Enter the name: ")
roll_number = int(input("Enter the roll number: "))
mark = int(input("Enter the mark: "))

print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: veena
Enter the roll number: 12
Enter the mark: 68
Name: veena
Roll No: 12
Mark: 68

#3. Write a Python program to get the largest number from a list.          Sample input: 12, 3, 47, 10                                               Sample output: 47 is the largest number#

In [ ]:

numbers = [12, 3, 47, 10]
largest = max(numbers)
print(largest, "is the largest number")

47 is the largest number

# 4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.                                                           Sample input: 1….10                                                        Sample output: Current Number 1 Previous Number 0 Sum: 1 Current           Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous               Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19#

In [ ]:
previous_num = 0

for i in range(1, 11):
  sum = previous_num + i
  print("Current Number", i, "Previous Number", previous_num, "Sum:", sum)
  previous_num = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

# 5. Write a Python program to print only those numbers which are divisible of 5.                                                                        Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55#

In [ ]:
numbers = [10, 20, 33, 46, 55]
for num in numbers:
  if num % 5 == 0:
    print(num, end=", ")

10, 20, 55,

#6. Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3 Sample output: 3 is a prime number.#

In [ ]:
num = int(input("Enter the number: "))

if num > 1:
  for i in range(2, int(num/2) + 1):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
  else:
    print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter the number: 75
75 is not a prime number

#7. Write a Python program to reverse a list using for loop. Sample input: 10,40,30,70 Sample output: 70,30,40,10#

In [ ]:
numbers = [10,40,30,70]
reversed_list = []
for i in range(len(numbers) - 1, -1, -1):
  reversed_list.append(numbers[i])

print(",".join(map(str, reversed_list)))

70,30,40,10

# 8. Write a Python program to print the following pattern.                     *                                                                              **                                                                       *******#

In [ ]:
for i in range(1, 5):
  print("*" * i)

*
**
***
****

# 9. Write a Python program to find the maximum of three numbers Sample input: 34,12,7Sample output: 34#

In [ ]:

def find_maximum(a, b, c):
  return max(a, b, c)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

maximum = find_maximum(num1, num2, num3)
print("The maximum number is:", maximum)

Enter the first number: 23
Enter the second number: 45
Enter the third number: 10
The maximum number is: 45

# 10. Write a Python program to construct the following pattern, using a nested for loop.                                                                       *                                                                              ** *** **** ***** **** *** ** *#

In [ ]:
for i in range(1, 6):
  print("*" * i)
for i in range(4, 0, -1):
  print("*" * i)

*
**
***
****
*****
****
***
**
*